
        ul, ul li {
    margin: 0px;
    padding: 22px;
}
#blok li {list-style: none;}
#blok, #blok ul {width: 140px;}
#blok ul {
    position: absolute;
    top: -20;
    left: 0px;
    padding-left: 0px;
    visibility: hidden;
}
#blok li {
    padding-bottom: 1px;
    position: relative;
}
#blok li:hover ul {
    visibility: visible;
    width: auto;
    height: auto;
}
        
#blok a, #blok li:hover li a {
    display: block;
    font: 12px/30px verdana, sans-serif;
    text-decoration: none;
    padding: 0 10px;
    width: 140px;
    color: black;
    background-color: #c0c0cf;
}
#blok li:hover a, #blok li:hover li:hover a {
    background-color: #333033;
    color: white;
}