p.modyfikowany {color: brown; font-family: "Monotype Corsiva"; font-size: smaller;}
h1 {color: yellow;}
p.pierwszy {font-family: "Arial"; font-size: 18px; font-style: italic; }
h1.drugi {color: green}